# Python
__pycache__/
*.pyc
venv/
.env
.env.*
instance/
*.sqlite3

# Configuration & Secrets
config.js
config.local.js

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Distribution
dist/
build/
*.egg-info/
